/* src/stocks-app/src/App.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header, footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 1em;
}

main {
    padding: 1em;
}